{% extends 'base.html' %}
{% block title %}
{{ album.title }}
{% endblock %}
{% block content %}

{% if user.is_authenticated %}
    
    {% if user.id == album.author.id %}
        <h1 style="animation: flicker 2.7s infinite alternate; font-family: 'Pacifico';">
            {{ album.title }} 
        </h1>
        <small><a class="btn btn-sm btn-outline-light" href="{% url 'edit_album' album.pk%}">Edit</a></small><br><br>
        {% for post in album.posts.all %}
        <hr>
            <a href="{% url 'post-details' post.pk %}"><img style="max-width: 100%;" src="{{ post.file.url }}" alt=""></a><br><br>
                <h4 style="animation: pulse 2.7s infinite alternate; font-family: 'Pacifico';">{{ post.title }}</h4>
        {% endfor %}
    {% endif %}
{% endif %}
{% endblock %}