{% extends 'base.html' %}
{% block title %}
    Delete {{ album.title }}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <h1 style="animation: flicker 2.3s infinite alternate; font-family: 'Pacifico';">Delete {{ album.title }}</h1>
    <br><br>
    <div class="">
        <div class="form-group">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h4>Confirm Deletion</h4><br>
                <button class="btn btn-secondary">Delete Album</button>
            </form>
        </div>
    </div>
{% endif %}
{% endblock %}