{% extends 'base.html' %}
{% block title %}
    Edit {{ album.title }}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
{% if user.id == album.author.id %}
    <h1 style="animation: pulse 2.3s infinite alternate; font-family: 'Pacifico';">Edit {{ album.title }}</h1>
    <br><br>
    <div class="">
        <div class="form-group">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-outline-light">Confirm Changes</button>
            </form>
        </div>
    </div>

    {% for post in album.author.post.all %}
        <hr><p>{{ post.title }}</p>
        {% if post in album.posts.all %}
            <p style="animation: pulse 2.3s infinite alternate;">In {{ album.title }}</p>
        {% endif %}
        <img style="max-width: 100%;" src="{{ post.file.url }}" alt=""><br><br>
        <div class="form-group d-flex justify-content-center">
            <br>
            {% if post in album.posts.all %}
            <form action="{% url 'remove_from_album' album.pk %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="post_id" value="{{ post.id }}">
                <button class="btn btn-outline-danger text-white-50 btn-sm" type="submit" name="album_id" value="{{ album.id }}">Remove</button>
            </form>
            {% else %}
            <form action="{% url 'add_to_album' album.pk %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="post_id" value="{{ post.id }}">
                <button class="btn btn-outline-danger text-white-50 btn-sm" type="submit" name="album_id" value="{{ album.id }}">Add</button>
            </form>
            {% endif %}
        </div>
    {% endfor %}
    <hr>
    <br><br><a class="btn btn-outline-danger btn-sm" href="{% url 'album_delete' album.pk %}">Delete Album</a>
{% endif %}
{% endif %}
{% endblock %}