{% extends 'base.html' %}
{% block title %}
{{ post.title }}
{% endblock %}
{% block content %}
{% if user.is_authenticated %}

    
    <h1 style="animation: pulse 5s infinite alternate; font-family: 'Pacifico'; text-decoration: none; color: whitesmoke;">{{ post.title }}</h1>
    <small>By: <a href="{% url 'profile' post.author.id %}" style="animation: flicker 2.3s infinite alternate; font-family: 'Pacifico'; text-decoration: none; color: whitesmoke;">{{ post.author.first_name }} {{ post.author.last_name }}</a> - {{ post.posted_on }} 
            {% if user.id == post.author.id %}
            <br><a class="btn btn-outline-light text-white-50 btn-sm" href="{% url 'edit_post' post.pk %}">Edit</a> - <a class="btn btn-outline-danger btn-sm" href="{% url 'delete_post' post.pk %}">Delete</a>
            {% endif %}

    </small> <hr>
    <img style="max-width:100%;" class="rounded" src="{{ post.file.url }}" alt="post image"> <hr>
    <p>{{ post.description|safe }}</p>
    <p>{{ post.likes_count }} like(s)</p>
    <div class="d-flex justify-content-center">
        {% if request.user in post.likes.all %}
        <form action="{% url 'like_remove' post.pk %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-outline-light text-white-50 btn-sm" type="submit" name="post_id" value="{{ post.id }}">Remove Like</button>
        </form>
            {% else %}
        <form action="{% url 'like' post.pk %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-outline-light text-white-50 btn-sm" type="submit" name="post_id" value="{{ post.id }}">Like</button>
            </form>
            {% endif %}
    </div>
    <br>

    <h6>New Comment</h6>
    <div class="">
        <div class="form-group">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-outline-light text-white-50">Leave Comment</button>
            </form>
        </div>
    </div><br><br>

    <h2 style="animation: redflicker 2.3s infinite alternate; font-family: 'Pacifico';">Comments</h2>
    {% for comment in post.comments.all %}
    <div class="d-flex flex-column media border border-light m-5 p-2 rounded">
        {% if user.profile %}
        <a href="{% url 'profile' comment.author.id %}"><img class="d-flex align-self-start mr-3 rounded" src="{{ MEDIA_URL }}{{ comment.author.profile.profile_pic.url }}" alt="profile picture" style="width: 100px; height: auto;"></a>
        {% endif %}
        <div class="d-flex flex-fill flex-column text-center media-body">
            <a  style="animation: pulse 2.3s infinite alternate; font-family: 'Pacifico'; text-decoration: none; color: whitesmoke;" href="{% url 'profile' comment.author.id %}"><h5 class="mt-0">{{ comment.author.first_name }} {{ comment.author.last_name }}</h5></a><br>
            <p>{{ comment.body }}</p>
            {% if request.user.id == comment.author.id %}
            <form action="{% url 'remove_comment' comment.pk %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="post_id" value="{{ post.id }}">
                <button class="btn btn-outline-danger btn-sm" type="submit" name="comment_id" value="{{ comment.id }}">Delete Comment</button>
            </form>
            {% endif %}
        </div>
        <div class="d-flex justify-content-end">
            <p>{{ comment.likes_count }} like(s)</p><span ></span>
            {% if request.user in comment.likes.all %}
            <form action="{% url 'comment_like_remove' comment.pk %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-outline-light btn-sm text-white-50" type="submit" name="comment_id" value="{{ comment.id }}">Remove Like</button>
            </form>
            {% else %}
            <form class="d-flex justify-content-end" action="{% url 'comment_like' comment.pk %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-outline-light btn-sm text-white-50" type="submit" name="comment_id" value="{{ comment.id }}">Like</button>
            </form>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    {% endif %}
    <script>
    var post = "{{ post.pk }}";
        document.getElementById('postcomment').value = post;
    </script>
    <script>
        var name = "{{ user.id }}";
        document.getElementById('user').value = name;
    </script>
{% endblock %}