{% extends 'base.html' %}
{% block title %}
Edit Profile
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <h1 style="animation: flicker 2.3s infinite alternate; font-family: 'Pacifico';">Edit Profile</h1>
    <br><br>
    <div class="">
        <div class="form-group">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-secondary">Update Profile</button>
            </form>
        </div>
    </div>
    <script>
        var user = '{{ user.id }}';
        document.getElementById('user').value = user;
    </script>
{% endif %}
{% endblock %}