
{% extends 'base.html' %}
{% block title %}
{{ user.username }}
{% endblock %}
{% block content %}

    {% if user.is_authenticated %}
    <h1 style="animation: pulse 15s infinite alternate; font-family: 'Pacifico';">{{ user.first_name }} {{ user.last_name }}</h1><br>
        {% if request.user.id == user.id %}
            {% if request.user.profile %}
                <a style="animation: pulse 2.3s infinite alternate; font-family: 'Pacifico';" class="btn btn-outline" href="{% url 'edit_profile' user.id %}">Edit Profile</a><br><br>
            {% else %}
                <a style="animation: pulse 2.3s infinite alternate; font-family: 'Pacifico';" class="btn btn-outline" href="{% url 'create_profile' %}">Create Profile</a><br><br>
            {% endif %}
        {% endif %}
        {% if user.profile %}
            <img  style="max-width: 100%;" class="rounded" src="{{ MEDIA_URL }}{{ user.profile.profile_pic.url }} " alt="profile picture"><br>
        {% endif %}
        <br>
        <p>{{ user.profile.about_me }}</p><br>
        {% if request.user.id == user.id %}
            <h4 style="animation: flicker 2.7s infinite alternate; font-family: 'Pacifico';">Albums</h4>
            {% for album in user.albums.all %}
                <a style="animation: flicker .1s infinite alternate; font-family: 'Pacifico'; text-decoration: none; color: white;" href="{% url 'album' album.pk %}">{{ album.title }}</a><br>
            {% endfor %}
            <br><a style="animation: redflicker 1.6s infinite alternate; font-family: 'Pacifico';" class="btn btn-outline-light" href="{% url 'albumCreate' %}">New Album</a><br>
        {% endif %}
        <h4 style="animation: flicker 2.7s infinite alternate; font-family: 'Pacifico';">Photos</h4>
        {% for post in user.post.all %}
            <br>
            <a href="{% url 'post-details' post.pk %}"><img class="rounded" style="max-width: 100%;" src="{{ post.file.url }}" alt="post image"></a>
            <br><br>
            <a style="animation: pulse 2.5s infinite alternate; font-family: 'Pacifico';" class="btn btn-outline text-white-50" href="{% url 'post-details' post.pk %}">{{ post.title }}</a>
            <br>
        {% endfor %}
        {% if request.user.id == user.id %}
        <br><a style="animation: pulse 2.3s infinite alternate; font-family: 'Pacifico';" class="btn btn-outline" href="{% url 'edit_account' user.id %}">Edit Account</a>
        {% endif %}

        <br>
    {% endif %}
{% endblock %}